@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <i class="fa fa-shopping-cart" style="font-size:20px; margin-top:14px; color:rgb(255,120,0)"> </i>
            <span style="color:rgb(255,120,0)">&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.CartItems.Count</span>
            @if (ViewBag.CartItems.Count == 1) {
                <span style="color:rgb(255,120,0)">item</span>
            } else {
                <span style="color:rgb(255,120,0)">items</span>
            }
            &nbsp;
            &nbsp;
        </li>
        <li style="color:rgb(255,120,0); margin-top:14px">|</li>
        <li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Update Account Profile", style = "color:rgb(230,90,0)" })*@
            <a href=" @Url.Action("Index", "Manage")" title="Update Account Profile" style="color:rgb(255,120,0)">Welcome, @ViewBag.Firstname</a>       
        </li>
        <li style="color:rgb(255,120,0); margin-top:14px">|</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:rgb(255,120,0)">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color:rgb(255,120,0)" } )</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color:rgb(255,120,0)" })</li>
    </ul>
}

@*// Test whether user is logged-in.
if (Request.IsAuthenticated) {
    do stuff ...
}*@