@model jritchieShopping.Models.CodeFirst.Item

@{
    ViewBag.Title = "Details";
}


<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0)">
        <h2>@Model.Name</h2>
        <h4 style="font-weight:bold">$@Model.Price.ToString("N2")</h4>
    </div>

    <div class="container-fluid" style="margin-top:20px; padding-bottom:20px; border-bottom:1px solid rgb(255,120,0)">
        <div class=" row">

            @{
                if (User.IsInRole("Admin"))
                {

                    <div class=" col-md-4">
                        <h5 style="font-weight:bold">Record created</h5>
                        @Html.DisplayFor(model => model.CreateDate)
                        <br />
                        <h5 style="font-weight:bold">Record updated</h5>
                        @{ 
                            var recordUpdated = Model.UpdatedDate;
                            if (recordUpdated == null)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.UpdatedDate)
                            }
                        }
                        <br />
                        <h5 style="font-weight:bold">Media URL</h5>
                        @Html.DisplayFor(model => model.MediaURL)
                    </div>

                    <div class=" col-md-4">
                        <div>
                            <h4 style="font-weight:bold">Description</h4>
                        </div>
                        <div>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <img src="@Model.MediaURL" style="display: block; margin: auto; border:2px solid rgb(255,120,0); max-height:293px; width:auto" />
                    </div>
                }
                else
                {
                    <div class=" col-md-6">
                        <div style="margin-left:60px">
                            <h4 style="font-weight:bold">Description</h4>
                        </div>
                        <div style="margin-left:60px">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <img src="@Model.MediaURL" style="display: block; margin: auto; border:2px solid rgb(255,120,0); max-height:293px; width:auto" />
                    </div>
                }
            }
        </div>
    </div>


        @{
            if (User.IsInRole("Admin"))
            { 
                <p style="text-align:center; padding:20px 0px 10px 0px">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                    <span>|</span>
                    @Html.ActionLink("Back to List", "Index", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                </p>
            }
            else
            {
                <p style="text-align:center; padding:20px 0px 10px 0px">
                    @Html.ActionLink("Back to List", "Index", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                </p>
            }
        }

</div>