@model jritchieShopping.Models.CodeFirst.Item

@{
    ViewBag.Title = "Edit";
}

<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0); margin-bottom:20px">
        <h3>Edit selected item</h3>
    </div>

    @using (Html.BeginForm("Edit", "Items", new { mediaURL = Model.MediaURL }, FormMethod.Post, new { enctype = "Multipart/form-data" } ))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="width:90%">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)                @*// Values are passed, but are in hidden fields.*@
            @Html.HiddenFor(model => model.CreateDate)


            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Upload new image</label>
                <div class="col-md-10">
                    <input name="image" type="file" class="form-control" value="@Model.MediaURL"/>
                    <img src="@Url.Content(Model.MediaURL)" style="margin-top:2px; border:2px solid rgb(255,120,0); max-height:293px; width:auto" />
                    <span style="font-weight:bold">Current image:</span>
                    <span>@Html.DisplayFor(model => model.MediaURL)</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "editor", rows = "5" } })

                    @*Does the same thing as above.*@
                    @*<textarea id="editor" class="form-control" name="Description" rows="5">@Model.Description</textarea>*@


                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save edited item" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div style="text-align:center; padding:20px 0px 20px 0px; border-top:1px solid rgb(255,120,0);">
        @Html.ActionLink("Return to items list", "Index", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
    </div>


    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script type="text/javascript">
            $(function () {
                tinymce.init({
                    selector: '#editor'
                });
            });
        </script>
    }

</div>