@model IEnumerable<jritchieShopping.Models.CodeFirst.Item>

<!--Item display-->
<div class="subpageDisplay">

    <!--Item count-->
    <div class="row" id="itemsCount">
        <div class="col-md-12">
            @{ 
                var itemCount = Model.Count();
            }
            @itemCount items available
        </div>
    </div>



@if (User.IsInRole("Admin"))
{
    <div style="text-align:center; margin-bottom:20px;">
        @Html.ActionLink("Create New Item", "Create", null, new { style = "color:rgb(255,120,0); text-decoration:underline"})
    </div>
}

    /*  Note: can add other properties in items to test: OnSale, New, etc.  Then use If() to test and style.*/

    @*<div class="container">*@
        <div class="row">
            @foreach (var item in Model)
            {      
                <div class="text-center">
                    <div class="col-xs-3">
                        @*// Name of Action in Controller, Name of Controller, Id to pass*@
                        <a href="@Url.Action("Details", "Items", new { id = item.Id })">
                            @*// Url.Content() strips off '~' from '~/assets/Images/m4.jpg for use with relative path*@
                            <img class="img-responsive" src="@Url.Content(item.MediaURL)" style="display: block; margin: auto; border:2px solid rgb(255,120,0)" />                      
                        </a>
                        <p>
                            @item.Name
                            <br />
                            <span class="itemPrice">$@item.Price.ToString("N2")</span>

                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color:rgb(255,120,0); text-decoration:underline" }) <span>|</span>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                            }
                        </p>

                        @{if (Request.IsAuthenticated)    // Confirm user is logged in.
                          {
                            <div>
                                @using (Html.BeginForm("AddToCart", "CartItems", new { id = item.Id }, FormMethod.Post, null))
                                 {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Add to cart" class="btn btn-default" style="background-color:rgb(255,120,0); position:absolute; top:80%; left:50%; transform: translate(-50%, -80%)" />
                                 }
                            </div>
                          }
                         }
                                  
                    </div>
                </div>
             }
        </div>
    @*</div>*@

</div>


