@model jritchieShopping.Models.CodeFirst.Order

@{
    ViewBag.Title = "Create";
}


<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0); margin-bottom:20px">
        <h3>Enter your Shipping Address and Contact Information</h3>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="control-label col-md-2" style="font-weight:bold; color:rgb(255,120,0)">Ship to:</div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2" style="font-weight:bold">Name</div>
                <div class="col-md-8">
                    @*<input type="text" class="form-control" value="@ViewBag.Fullname" />*@
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

                <div style="font-weight:bold; color:rgb(255,120,0); margin-top:10px; border-top:1px dashed rgb(255,120,0)"></div>
                <div class="control-label col-md-2 col-md-offset-1" style="font-weight:bold; color:rgb(255,120,0)">Contact information:</div>
            <div class="form-group">
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2" style="font-weight:bold">Email</div>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" value="@User.Identity.Name" />*@
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                </div>


                @*<div class="form-group">
                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                </div>
            </div>*@

                @*<div class="form-group">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

                @*<div class="form-group">
                @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>*@

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Confirm details" class="btn btn-default" />
                    </div>
                </div>*@


            <div style="padding:20px 0px 20px 0px; border-top: 1px solid rgb(255,120,0)">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-actions no-color">
                            <input type="submit" value="Submit and Continue" class="btn btn-default" style="background-color:rgb(255,120,0)" />
                            <span>|</span>
                            @Html.ActionLink("Return to Cart", "Index", "CartItems", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                            <span>|</span>
                            @Html.ActionLink("Continue Shopping", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

            @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@


                @*<div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 text-center" style="padding:20px 0px 20px 0px; border-top: 1px solid rgb(255,120,0)">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">

                                <input type="submit" value="Submit and Continue" class="btn btn-default" style="background-color:rgb(255,120,0)" />
                                <span>|</span>
                                @Html.ActionLink("Return to Cart", "Index", "CartItems", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                                <span>|</span>
                                @Html.ActionLink("Continue Shopping", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                                @*<a class="btn btn-default" href="@Url.Action("Index", "Items")">Continue shopping</a>
                            </div>
                        }
                    </div>

                </div>
            </div>*@

</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
