@model IEnumerable<jritchieShopping.Models.CodeFirst.CartItem>

@{
    ViewBag.Title = "Index";
}

<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0)">
        <h3>Items in @ViewBag.FullName's Cart</h3>
        @*<h5>Total: @ViewBag.CartTotal</h5>*@
    </div>


    @{ 
        if (ViewBag.TotalCartItems == 0)
        {
            <h2 style="text-align:center" >Your cart is empty.</h2>
            <h3 style="text-align:center; margin-bottom:30px" >@Html.ActionLink("Go shopping!", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })</h3>
        }
        else
        {
            <table class="table" style="width:70%; margin: 0px auto">
                <tr>
                    <th style="width:5%">
                        Item
                    </th>
                    <th style="width:20%">
                    </th>
                    <th style="width:5%">
                    </th>
                    <th style="text-align:right; width:15%">
                        Quantity
                    </th>
                    <th style="text-align:right; width:20%">
                        Unit Price
                    </th>
                    <th style="text-align:right; width:20%">
                        Subtotal
                    </th>
                    <th style="text-align:right; width:15%"></th>
                </tr>

                @{ 
                    decimal cartTotal = 0;

                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="@item.Item.MediaURL" style="height:50px; width:auto" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.Count)
                            <p>
                                @Html.ActionLink("Update", "Edit", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                            </p>
                        </td>
                        <td style="text-align:right">
                            @{cartTotal += @item.unitTotal;}
                            $
                            @item.Item.Price.ToString("N2")
                            @*@Html.DisplayFor(modelItem => item.Item.Price).ToString("N2")*@
                        </td>
                        <td style="text-align:right">
                            $
                            @item.unitTotal.ToString("N2")
                            @*@Html.DisplayFor(modelItem => item.unitTotal).ToString("N2")*@
                        </td>
                        <td style="text-align:right">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                        </td>
                    </tr>
                    }
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right; font-weight:bold">
                        Total
                    </td>
                    <td style="text-align:right">
                        $
                        @ViewBag.CartTotal.ToString("N2")
                        @*@cartTotal.ToString("N2")*@
                    </td>
                    <td></td>
                </tr>

            </table>

                @*<p style="text-align:center; padding:20px 0px 10px 0px; border-top: 1px solid rgb(255,120,0)">
                    @Html.ActionLink("Continue shopping", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                </p>*@

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 text-center" style="padding:20px 0px 10px 0px; border-top: 1px solid rgb(255,120,0)">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <a class="btn btn-default" href="@Url.Action("Create", "Orders")" style="background-color:rgb(255,120,0)">Check out</a>
                                    @*<input type="submit" value="Check out" class="btn btn-default" style="background-color:rgb(255,120,0)"/>*@
                                    @*@Html.ActionLink("Check out", "Create", "Orders", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })*@
                                    <span>|</span>
                                    @Html.ActionLink("Continue shopping", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
                                    @*<a class="btn btn-default" href="@Url.Action("Index", "Items")">Continue shopping</a>*@
                                </div>
                            }
                        </div>

                    </div>
                </div>
       }
    }

</div>

