@model IEnumerable<jritchieShopping.Models.CodeFirst.CartItem>

@{
    ViewBag.Title = "Index";
}

<div class="subpageDisplay">

    <div style="text-align:center; border-bottom:1px solid rgb(255,120,0)">
        <h3>Items in your Cart</h3>
    </div>

        <table class="table center" style="border-bottom:1px solid rgb(255,120,0)">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Details
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Subtotal
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                        <p>
                            @Html.ActionLink("Update", "Edit", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                        </p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { style = "color:rgb(255,120,0); text-decoration:underline" })
                    </td>
                </tr>
            }

        </table>

        <p style="text-align:center; padding:0px 0px 10px 0px">
            @Html.ActionLink("Continue shopping", "Index", "Items", null, new { style = "color:rgb(255,120,0); text-decoration:underline" })
        </p>

    </div>

